
.ipynb_checkpoints/Prince package-checkpoint.ipynb
.ipynb_checkpoints/plot_mds-checkpoint.ipynb
data_preprocessing/.ipynb_checkpoints/scaling-checkpoint.ipynb
data_preprocessing/.ipynb_checkpoints/plot_all_scaling-checkpoint.ipynb
